.btn-prymari{
    background-color: mediumturquoise;
    height: 70px;
    width: 260px;
    border-radius: 18px;
    border: 1px solid transparent;
    font-size: 25px;
    color: white;
    
    }
    
.btn-prymari:hover {
    cursor: pointer;
}

.btn-prymari:focus {
    outline: 0;
}

.btn-secundary {
    color: white;
    height: 45px;
    width: 250px;
    margin-top: 25px;
    background-color: rgb(66, 66, 66);;
    border-radius: 16px;
    border: 1px;
    box-shadow: 0px 8px 9px rgba(122, 13, 13, 0.1);

}

.btn-secundary:hover {
    cursor: pointer;
}