
/*.container-main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

.container-title {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 80px;
}

.titleOne {
    font-size: 65px;
    margin: 0px;
}

.titleTwo {
    font-size: 19px;
    margin-top: 10px;
    color: dimgrey;
}

.container-image {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.rocket {
    display: flex;
    height: 200px;
    padding-top: 170px;
}

.img2 {
    height: 520px;
    padding-top: 130px;
}

.ball {
    height: 290px;
    padding-top: 110px;
}
*/


.cointaner-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleT {
    font-size: 30px;
    color: rgb(66, 66, 66);
}

.inp {
    height: 35px;
    width: 1415px;
    border-radius: 20px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.10);
    border: 1px solid transparent;
}

.imagePoke {
    display: flex;
    margin-top: 130px;
    padding-left: 133px;
}

.search {
    height: 45px;
    width: 250px;
    margin-top: 25px;
    background-color: aquamarine;
    border-radius: 16px;
    border: 1px;
    box-shadow: 0px 8px 9px rgba(122, 13, 13, 0.1);
}

.search:hover {
    cursor: pointer;
} 