.images {
    height: 65px;
    width: 75px;
   
}


.container-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: 130px;
    width: 200px;
    background-color: rgb(66, 66, 66);
    border: 1px, solid, black;
    border-radius: 12px;
    margin: 10px;
}

.name {
    color: white;
    font-size: 20px;
}

.genre {
    font-size: 12px;
    border: 2px solid transparent;
    background-color: rgb(43, 192, 160);
    border-radius: 8px;
    width: 70px;
    color: antiquewhite;
    margin-top: 1px;
}

.container-cardSecondary {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: 130px;
    width: 200px;
    background-color: rgb(238, 69, 69);
    border: 1px, solid, black;
    border-radius: 12px;
    margin-top: 2px;
}

.nameSecondary {
    color: white;
    font-size: 19px;
}

.genreSecondary {
    font-size: 12px;
    border: 2px solid transparent;
    background-color: rgb(245, 119, 119);
    border-radius: 8px;
    width: 70px;
    color: antiquewhite;
    margin-top: 1px;
}
